#dialogTTS {
	display: none;
	width: 100%;
}

#ttsTextArea {
/* 	float: left;
	width: 30%; */
}

#ttsTestButtons {
/*     float: right;
    width: 70%; */
}


.divTable{
    display: table;
    width: 60%;
}
.divTableRow {
    display: table-row;
}

.divTableCell, .divTableHead {
    vertical-align : middle;
    display: table-cell;
    float: left;
    width: 30%;
}

.divTableCellRight, .divTableHeadRight {
    vertical-align : middle;
    display: table-cell;
    float: left;
    width: 60%;
}


.divTableCellButton, .divTableHead {
    vertical-align : middle;
    display: table-cell;
    float: left;
    width: 90%;
}

.divTableHeading {
    display: table-header-group;
    font-weight: bold;
}
.divTableFoot {
    background-color: #EEE;
    display: table-footer-group;
    font-weight: bold;
}
.divTableBody {
    display: table-row-group;
}


.ui-slider label {
  position: absolute;
  width: 20px;
  margin-top: 15px;
  margin-left: -10px;
  text-align: center;
}

.header-irp {
	background:#008ab1;
    position: relative;
    padding: 0px 10px;
    height: 30px;
    font-family: "PT Sans Caption",sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.5em;
    text-align: left;
    color: #f6f6f6; 
}

.header-ext {
    background:#358c21;
    position: relative;
    padding: 0px 10px;
    height: 30px;
    font-family: "PT Sans Caption",sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.5em;
    text-align: left;
    color: #f6f6f6;   
}

/* #358c21 */

/* #358c21 */

.irp-custom-button-click {
	
    color : #FFFFFF;
	background: #0080FF;

}

#main{
	 padding: 0px 15% 0px 15%;
}

/* #html5TestMain,
#css3TestMain{
	padding: 0px 20% 0px 20%;
} */

.irp-grid-column-hide
{
   display:none;
}

.irp-grid-column-wrap
{
    word-wrap:break-word;  
    overwflow: auto;
}

.entry-title {
    color: #008AB1;
    border-bottom: 1px solid #D3DFE1;
    padding-bottom: .25em;
    font-family: "PT Sans Caption",sans-serif;
    letter-spacing: -.05em;
    font-style: normal;
    font-weight: 400;
}