#dialogTTS {
	display: none;
	width: 100%;
}

#ttsTextArea {
/* 	float: left;
	width: 30%; */
}

#ttsTestButtons {
/*     float: right;
    width: 70%; */
}


.divTable{
    display: table;
    width: 60%;
}
.divTableRow {
    display: table-row;
}

.divTableCell, .divTableHead {
    vertical-align : middle;
    display: table-cell;
    float: left;
    width: 30%;
}

.divTableCellRight, .divTableHeadRight {
    vertical-align : middle;
    display: table-cell;
    float: left;
    width: 60%;
}


.divTableCellButton, .divTableHead {
    vertical-align : middle;
    display: table-cell;
    float: left;
}

.divTableHeading {
    display: table-header-group;
    font-weight: bold;
}
.divTableFoot {
    background-color: #EEE;
    display: table-footer-group;
    font-weight: bold;
}
.divTableBody {
    display: table-row-group;
}


.ui-slider label {
  position: absolute;
  width: 20px;
  margin-top: 15px;
  margin-left: -10px;
  text-align: center;
}

.irp-custom-grid-header {
	background:#0092bf;
    position: relative;
    padding: 0px 10px;
    height: 30px;
    font-family: 'League Gothic', Impact;
    font-weight: normal;
    font-size: 1.4em;
    text-align: left;
    color: #f6f6f6;
   
}

.irp-custom-button-click {
	
    color : #FFFFFF;
	background: #0080FF;

}

#main{
	 padding: 0px 30px 0px 30px;
}

#html5TestMain{
	padding: 0px 400px 0px 400px;
}

.irp-grid-column-hide
{
   display:none;
}