#dialogTTS {
	display: none;
	width: 100%;
}

#ttsTextArea {
	/* 	float: left;
	width: 30%; */
	
}

#ttsTestButtons {
	/*     float: right;
    width: 70%; */
	
}

.divTable {
	display: table;
	width: 60%;
}

.divTable-report {
	display: table;
	padding: 5px 0px 5px 5px;
	width: 100%;
}

.divTableRow {
	display: table-row;
}

.divTableCell, .divTableHead {
	vertical-align: middle;
	display: table-cell;
	float: left;
	width: 30%;
}

.divTableCellRight, .divTableHeadRight {
	vertical-align: middle;
	display: table-cell;
	float: left;
	width: 60%;
}

.divTableCellMultiSelect, .divTableHeadRight {
	vertical-align: middle;
	display: table-cell;
	width: 40%;
}

.divTableCellMultiSelectButton, .divTableHeadRight {
	vertical-align: middle;
	display: table-cell;
	width: 20%;
	padding-right: 15px;
	padding-left: 15px;
}

.divTableCellButton, .divTableHead {
	vertical-align: middle;
	display: table-cell;
	float: left;
	width: 90%;
}

.divTableHeading {
	display: table-header-group;
	font-weight: bold;
}

.divTableFoot {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}

.divTableBody {
	display: table-row-group;
}

.ui-slider label {
	position: absolute;
	width: 20px;
	margin-top: 15px;
	margin-left: -10px;
	text-align: center;
}

.header-irt {
	background: #008ab1;
	position: relative;
	padding: 0px 10px;
	height: 30px;
	font-family: "PT Sans Caption", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 1.5em;
	text-align: left;
	color: #f6f6f6;
}

.header-ext {
	background: #358c21;
	position: relative;
	padding: 0px 10px;
	height: 30px;
	font-family: "PT Sans Caption", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 1.5em;
	text-align: left;
	color: #f6f6f6;
}

.header-forbidden {
	background: #FF0000;
	position: relative;
	padding: 0px 10px;
	height: 30px;
	font-family: "PT Sans Caption", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 1.5em;
	text-align: left;
	color: #f6f6f6;
}

/* #358c21 */

/* #358c21 */
.irt-custom-button-click {
	color: #FFFFFF;
	background: #0080FF;
}

#main {
	padding: 0px 15% 2% 15%;
}

#report-main {
	padding: 0px 5% 0px 5%;
}

/* #html5TestMain,
#css3TestMain{
	padding: 0px 20% 0px 20%;
} */
.irt-grid-column-hide {
	display: none;
}

.irt-grid-column-wrap {
	word-wrap: break-word;
	overwflow: auto;
}

.entry-title {
	color: #008AB1;
	border-bottom: 1px solid #D3DFE1;
	padding-bottom: .25em;
	font-family: "PT Sans Caption", sans-serif;
	letter-spacing: -.05em;
	font-style: normal;
	font-weight: 400;
}

.multiselectButton {
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	display: block;
	width: 100%;
	margin-top: 5px;
}

.form-control {
	display: block;
	width: 100%;
	height: 200px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow
		ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out
		.15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

#result-icon {
	height: 30px;
	width: 30px;
}

#left-intro-section {
	-webkit-margin-start: 2px;
	-webkit-margin-end: 2px;
	-webkit-padding-before: 0.2em;
	-webkit-padding-start: 0.75em;
	-webkit-padding-end: 0.75em;
	-webkit-padding-after: 0.625em;
	min-width: -webkit-min-content;
	border-width: 5px;
	border-radius: 15px;
	border-style: groove;
	border-color: #008ab1;
	border-image: initial;
	float: left;
	width: 45%;
	padding: 0 0 2% 2%;
}

#right-intro-section {
	-webkit-margin-start: 2px;
	-webkit-margin-end: 2px;
	-webkit-padding-before: 0.2em;
	-webkit-padding-start: 0.75em;
	-webkit-padding-end: 0.75em;
	-webkit-padding-after: 0.625em;
	min-width: -webkit-min-content;
	border-width: 5px;
	border-radius: 15px;
	border-style: groove;
	border-color: #358c21;
	border-image: initial;
	float: right;
	width: 45%;
	padding: 0 0 2% 2%;
}

#instruction {
	display: table-header-group;
	font-family: "PT Sans Caption", sans-serif;
}

.version-details {
	float: right;
	font-weight: bold;
	font-size: 0.5em;
	font-family: 'PT Sans Caption', sans-serif;
	letter-spacing: -.05em;
	font-style: normal;
}

.generated-version-details {
	float: left;
	color: #008AB1;
	font-weight: 400;
	font-size: 0.8em;
	font-weight: bold;
}

.header-irt-report {
	background: #000000;
	position: relative;
	padding: 0px 10px;
	height: 30px;
	font-family: "PT Sans Caption", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 1.5em;
	text-align: left;
	color: #f6f6f6;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

.border-details {
	border-width: 1px;
	border-radius: 15px;
	border-style: groove;
	border-color: #000000;
	border-image: initial;
	width: 60%;
	display: table;
	margin-right: auto;
	margin-left: auto;
}

.irt-success-ui-icon {
	background-image: url('images/button-check_green.png');
	width: 60px;
	height: 60px;
	background-repeat: no-repeat;
	float: left;
}

.irt-failure-ui-icon {
	background-image: url('images/button-cross_red.png');
	width: 60px;
	height: 60px;
	background-repeat: no-repeat;
	float: left;
}

.report-id-details {
	font-weight: bold;
	font-size: 2.5em;
	font-family: 'PT Sans Caption', sans-serif;
	letter-spacing: -.05em;
	font-style: normal;
	color: #008AB1;
}